.MessageDetails {
  background-color: #F9F9F9;
  padding: 2.8rem;

  &-header {
    display: grid;
    grid-template-columns:  20px minmax(auto, 30%) 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0px;

    background-color: #fff;

    padding: 2rem 3rem;

    &-type {
      grid-area: 1 / 1 / 4 / 2;
      text-align: right;
      i {
        color: #cccccc;
        font-size: 2rem !important;
      }
    }

    &-name {
      grid-area: 1 / 2 / 2 / 4;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 0.4rem 0 1rem 0;
    }
    &-mailLabel { grid-area: 2 / 2 / 3 / 3; }
    &-mailValue { grid-area: 2 / 3 / 3 / 4; }
    &-phoneLabel { grid-area: 3 / 2 / 4 / 3; }
    &-phoneValue { grid-area: 3 / 3 / 4 / 4; }
  }

  &-content {
    background-color: #fff;

    margin-top: 2rem;
    padding: 2rem 3rem;

    font-size: 1.9rem;

    &-name {
      font-weight: bold;
      padding: 0.4rem 0 1rem 0;
    }

    &-date {
      color: #777777;
    }

    &-message {
      font-size: 1.9rem;
      padding-top: 4rem;
    }
  }

}


