.Ma-container {
  display: grid;
  grid-template-columns: 375px 1fr;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Header { grid-area: 1 / 1 / 2 / 3; }
.Inbox-messages { grid-area: 2 / 1 / 3 / 2;}
.Inbox-details { grid-area: 2 / 2 / 3 / 3; }

@media only screen and (max-width: 900px) {
  .Ma-container{
    grid-template-columns: 50% 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .Ma-container{
    grid-template-columns: 100% 0;
    &.message-open{
      grid-template-columns: 0 100%;
    }
  }
}
