.MessagePreview {
  display: flex;
  position: relative;
  padding: 2rem 1rem 2rem 4rem;

  border-bottom: solid 1px #D8D8D8;
  border-right: solid 1px #D8D8D8;

  cursor: pointer;
  text-decoration: none;
  color: #000000;

  &:hover {
    background-color: #F9F9F9;
  }

  &--read {
    color:#777777;
  }

  &-type {
    position: absolute;
    top: 0;
    left: 0;

    i{
      color: #1432BE;
      font-size: 2rem !important;

      padding: 1.7rem 1rem;
    }

    &--read i{
      color:#777777;
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.8rem;
    font-weight: bold;

    margin:0;
    padding: 0;

    small {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &-summary {
    margin:0;
    color: #777777;
  }

  &-date {
    font-size: 1.4rem;
    color: #1432BE;
    font-weight: 400;
    &--read {
      color:#777777;
    }
  }
}
