.Header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  z-index: 1;

  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  .Logo {
      width: 133px;
      height: 37px;
  }

  &-actions {
    display: flex;
  }

  label { display: none;}

  &-unread {
    background: #1432BE;
    border-radius: 8px;
    height: 31px;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    color: white;
    margin-right: 1rem;

    i {
      font-size: 2rem !important;
      margin: 0 1rem 0 0;
    }
  }
}
